<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduce</title>
</head>
<body>
    <div style="margin-rigth: 20px;">
        <h3>Introduce Prac</h3>
        <a href="/introduce/정민수">정민수</a>
        <br>
    </div>
    <div style="margin-rigth: 20px;">
        <h3>Introduce Prac2</h3>
        <form action="/introduce/2" method="get" style="margin-right: 20px;">
        <input type="text" name="name">
        <input type="text" name="age">
        <br>
        <button>전송</button>
        </form>
    </div>
    <a href="/form">form 실습</a>

</body>
</html>